<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"lh-homepage","layout":{"type":"default"}} -->
<main class="wp-block-group lh-homepage">
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/hero"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/welcome"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/media-grid"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/quote"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/step-events"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/step-coworking"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/marquee-suites"} /-->
	<!-- wp:pattern {"slug":"lambourne-house-block-starter/marquee-icons"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
