.quote {
    margin: 10em 0;
    &-inner {
        display: inline-block;
        margin: 2em 0;
        padding: 1em;
        text-align: right;

        @media(min-width: 800px) {
            width: 50%;
        }

        .motion-line {
            &:nth-of-type(2) {
            }
            &:nth-of-type(2) {
            }
        }
    }
}