.welcome {
    position: relative;
    padding: 2em;

    @media(min-width: 800px) {
        padding: 6em 0;
    }

    .background-image {
        width: 65%;
        position: absolute;
        top: -60px;
        left: 0;
        opacity: 0.35;

        @media (min-width: 1350px) {
            width: 40%;
            opacity: 1;
        }
    }

    &-inner {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 750px;
        margin: 0 auto;

        .motion-line {
            &:nth-of-type(2) { 
                h2 {
                    font-size: 35px;
                    
                    @media(min-width: 800px) {
                        font-size: 55px;
                    }
                }
            }
            &:nth-of-type(3) { 
                h2 {
                    font-size: 18px; 
                    margin: 10px 20px;
                    
                    @media(min-width: 800px) {
                        font-size: 24px;
                    } 
                }
            }

            h2 {
            margin: 0;
            font-family: "Nunito";
            font-size: 18px;
            font-weight: 300;
            text-align: right;
                    
                @media(min-width: 800px) {
                    font-size: 24px;
                }
            }
        }
    }
}